Jinja2==3.1.2
pandocfilters==1.5.0
Pygments==2.16.1
Sphinx==7.1.2
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==1.0.6
sphinxcontrib-devhelp==1.0.4
sphinxcontrib-htmlhelp==2.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.5
sphinxcontrib-serializinghtml==1.1.7
